body {margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-image: url("researchlab.png");
background-size: cover;
background-attachment: fixed;
background-color: #f4f6f8;}

/* Header */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 40px;
    text-align: center;
}

/* Navigation */
.nav {
    background-color: #003366;
    overflow: hidden;
    text-align: center;
}

.nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.nav a:hover {
    background-color: #0055a5;
}

/* Sections */
.section {background-color:silver;
 margin: 40px auto;
 padding: 40px;
 width: 80%;
 border-radius:20px;
}

/* Profile Image */
.profile-img {
    width: 180px;
    float: right;
    margin-left: 20px;
    border-radius: 50%;
}
#bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
}


/* Portfolio Items */
.portfolio-item {
    margin-bottom: 30px;
background-color:silver;
width:88%;
margin-left:80px;
border-radius:10px;}

.portfolio-item img {
    width: 100%;
    max-width: 400px;
    display:block;
    margin-bottom: 10px;
}

/* CV Link */
.cv-link {
    font-weight: bold;
    color: #003366;
    text-decoration: none;
}

.cv-link:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}


